@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #1e293b; /* This matches Tailwind's 'bg-slate-800' */
  min-height: 100%;
  margin: 0;
}
